/* DEFAULTS
----------------------------------------------------------*/
/*Estilo Migajas de Pan */
.ruta{ font-style:italic; font-weight:bold; margin-left:10px; margin-top:10px;}

body
{
    background: #566068;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #CCC;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* Image */
img
{
    border:0px solid #fff;
}



/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    margin: 20px auto 0px auto;
    border: 0px solid #808080;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-box-shadow: 0px -0px 25px #333;
    -webkit-box-shadow: 0px -0px 25px #333;
    color: #000;
    /*background-color: #272727;*/
    background-color: #FFF;
    /*background-color: #C0C0C0;*/
}

.banner
{
    border: 1px solid #C0C0C0;
    padding: 5px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    text-align:center;
}

.header
{
    border-bottom: 0px solid #FFFFFF;
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #272727;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px #333;
    -webkit-box-shadow: 15px 15px 9 #333;
    width: 100%;
    color: #FFFFFF;
    top: 0px;
    left: 0px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #FFFFFF;
    border: none;
    line-height: 2em;
    font-size: 2em;
    text-shadow: 1px 1px 2px #333;
}

.main
{
    border-bottom: 0px solid #FFFFFF; 
    border-top: 1px solid #C0C0C0;
    padding: 0px 12px;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 12px 8px 8px auto 8px;
    min-height: 420px;
    background-image: url('Images/mainBG.png');
    background-repeat: repeat-x;
    padding-bottom: 30px;
}


.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #CCC;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    width: 100%;
    background-color: #AA2828;
}

/*div.menu
{
    padding: 4px 0px 4px 8px;
}*/
#menu {
	
	height: 40px;
	border-top: solid 1px #AA2828;
	border-bottom: solid 1px #AA2828;
	width: 950px;
	/*background: #E7A32D url(Images/img01.gif) repeat-x top left;*/
	background:  #AA2828;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 1.1em;	
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	padding: 4px 0px 4px 8px;
}

/*div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}*/
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/*div.menu ul li a, div.menu ul li a:visited
{
    background-color: #AA2828;
    color: #DBDBF2;
    display: block;
    padding: 4px 25px;
    text-decoration: none;
    white-space: nowrap;
    border-top-color: #942323;
    border-bottom-color: #942323;
}*/
#menu ul li {
	background-color: #AA2828;
	position: relative;
	display: inline-block;
	height: 40px;
	padding: 1px 45px 0 45px;
	border-top-color: #942323;
    border-bottom-color: #942323;
}
* + html #menu ul li {padding: 1px 12px 0 12px;}  /* IE7 & IE9 compatability mode*/

div.menu ul li a:hover
{
    background-color: #AA2828;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
}

/*div.menu ul li a:active
{
    background-color: #AA2828;
    color: #D6D6D6;
    text-decoration: none;
}*/
#menu ul li.active {
	background: #AA2828;
	border-top: solid 1px #000000;
	color: #D6D6D6;
    text-decoration: none;
	padding-top: 0;
}

#menu ul li a {
	color: #D6D6D6;
	text-decoration: none;
}
/*--------------------------------------------------------*/
#menu ul li .down-arrow {
	background:#AA2828;
	display: inline-block;
	margin: 0 0 0 0.5em;
	position: relative;
	width: 0;
	height: 0;
	top: -2px;
	
}

#menu ul li.active .down-arrow {
	background:#AA2828;
	border-top: 7px solid #000000;

}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    border-left: 2px solid #7A8792;
    border-bottom: 2px solid #7A8792;
    border-right: 2px solid #7A8792;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-box-shadow: 5px 5px 9px #000;
    -webkit-box-shadow: 9px 9px 9px #000;
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: #566068;
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: #D7D7FF;
}

.loginDisplay a:visited
{
    color: #D7D7FF;
}

.loginDisplay a:visited
{
    color: #D7D7FF;
}

.loginDisplay a:hover
{
    color: #BFBFFF;
}

.footer a:link
{
    color: #D7D7FF;
}

.footer a:visited
{
    color: #D7D7FF;
}

.footer a:visited
{
    color: #D7D7FF;
}

.footer a:hover
{
    color: #BFBFFF;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
/*--------------------------------------------------------------------------------*/
.dropotron {
	
	width: 280px;
	background:#AA2828;
	border-top: solid 1px #6A1A1A;
	border-bottom: solid 1px #D64B4B;
	padding: 12px;


	list-style: none;
	color: #FFF;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

.dropotron li {
	padding: 10px 12px 10px 12px;
	position: relative;
	margin-top: 1px;
}

.dropotron li:hover {
	background: #CD3030;
	border-top: solid 1px #7C5612;
	margin-top: 0;
}

.dropotron li .right-arrow {
	margin: 0 0 0 0.5em;
	position: absolute;
	right: 13px;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #FFFFFF;
}

.dropotron li:hover > .right-arrow {
	border-left: 7px solid #FFFFFF;
}

.dropotron a {
	color: #FFF;
	text-decoration: none;
}
